<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testng.DependsOnGroups"/>
      <class name="com.testng.ParallelExecution1"/>
      <class name="com.testng.NewTest"/>
      <class name="com.testng.Prioritytestcase"/>
      <class name="com.testng.Testngexample"/>
      <class name="com.testng.paralleExecution"/>
      <class name="com.testng.DependenceuponMethods"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
